body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cs-list-item {
  cursor:"pointer"
  
}
.card{
  background-color: lightsalmon;
}
.card:hover {
  border-color: var(--color-dark-gray);
  
  
}
.card:hover .radio:checked {
  border-color: var(--color-green);
}